.info_div{
    padding-top: 100px;
    overflow:hidden;
    height: 80%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.info_div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.info_div button{
    text-align: center;
    margin-left: 5px;
    padding: 2px;
    font-weight: bold;
}
